@import "tailwindcss";

@theme {
  --font-sans: "Kanit", system-ui, sans-serif;
}

@layer base {
  :root {
    font-family: "Kanit", system-ui, sans-serif;
    line-height: 1.5;
    font-weight: 400;
    color-scheme: light;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  body {
    margin: 0;
    min-height: 100vh;
    background-color: theme("colors.gray.50");
  }
}
